.card{
    height: 440px;
    width: 300px;
    border:1px solid black ;
    border-radius:60px;
    background-color: blue;
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}