<div class="form">
    <div class="abc">
       <label>
           <h2>Id:</h2>
        </label>
       <input type="text" id="id"/>
    </div>
    <div class="abc">
        <label>
            <h2>Name:</h2>
        </label>
        <input type="text" id="name"/>
    </div>
    <div class="abc">
        <label>
            <h2>Username:</h2>
        </label>
        <input type="text" id="username"/>
    </div>
    <div class="abc">
        <label>
            <h2>Email:</h2>
        </label>
        <input type="email" id="email"/>
    </div>
    <div class="abc">
        <label>
            <h2>Adderss:</h2>
        </label>
        <input type="text" id="city"/>
    </div>
    <div class="abc">
        <label>
            <h2>Phone:</h2>
        </label>
        <input type="number" id="pnone"/>
    </div>
</div>
