<div class="form-group card">
    <label>Id:</label>
    <input type="text" class="form-control" value="{{currentuser.id}}" (change)="change('id',$event)"/>

    <label>Name:</label>
    <input type="text" class="form-control" value="{{currentuser.name}}" (change)="change('name',$event)"/>

    <label>Username</label>
    <input type="text" class="form-control" value="{{currentuser.username}}" (change)="change('username',$event)"/>

    <label>Email:</label>
    <input type="email" class="form-control" value="{{currentuser.email}}"(change)="change('email',$event)"/>

    <label>Address:</label>
    <input type="text" class="form-control" value="{{currentuser.address.city}}" (change)="change('address.city',$event)"/>

    <label>phone:</label>
    <input type="text" class="form-control" value="{{currentuser.phone}}" (change)="change('phone',$event)"/>
</div>

<button class="btn btn-success ml-5" (click)="update($event)">update</button>
